.appointment-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to appear above other elements */
  }
  
  .appointment-form-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%; /* Full width for responsiveness */
    position: relative;
  }
  
 .appointment-h2 {
    margin-bottom: 20px;
  }
  
  .appointment-form{
    display: flex;
    flex-direction: column;
  }
  
  .appointment-form div {
    margin-bottom: 15px;
  }
  
  .appointment-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .appointment-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .appointment-submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .appointment-submit-btn:hover {
    background-color: #0056b3;
  }
  
  .appointment-cancel-btn{
    background-color: #ccc;
  }
  
  .appointment-cancel-btn:hover {
    background-color: #aaa;
  }
  
.appointment-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 80px; /* Set a minimum height for better usability */
}
